<div class="modal-header">

    <span class="pull-right">
        <button type="button"
                ng-click="changePasswordCtrl.closeModal()"
                class="btn btn-link">
            <i class="fa fa-close"></i>
        </button>
    </span>
    <h3 class="modal-title" id="modal-title">Troca segura de Senha</h3>

</div>
<form novalidate angular-validator angular-validator-submit='changePasswordCtrl.submitForm()' name='changePasswordForm'>

    <div class="modal-body" id="modal-body">

        <div class="row">
            <div class="col-sm-6 form-group">
                <label class="control-label">Senha:</label>
                <input type="password"
                       name="Password"
                       ng-required="true"
                       ng-model="changePasswordCtrl.change.Password"
                       class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label class="control-label">Nova Senha:</label>
                <input type="password"
                       name="NewPassword"
                       ng-required="true"
                       ng-model="changePasswordCtrl.change.NewPassword"
                       class="form-control" />
            </div>
            <div class="col-sm-6 form-group">
                <label class="control-label">Confirme a Senha:</label>
                <input type="password"
                       name="ConfirmPassword"
                       ng-required="true"
                       validator = "changePasswordCtrl.change.NewPassword === changePasswordCtrl.change.ConfirmPassword"
                       invalid-message = "'As senhas estão diferentes!'"
                       ng-model="changePasswordCtrl.change.ConfirmPassword"
                       class="form-control" />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
                type="submit">
            Salvar
        </button>
    </div>

</form>