<div class="animated fadeIn">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-md-12">
                <h1>Profile</h1>
            </div>
        </div>
    </div>

    <div class="row">

        <!--{{profileCtrl.profile}}-->
        <!-- NORMAL DATA -->
        <div class="col-sm-8">
            <div class="well">

                <!--{{profileCtrl.profile}}-->

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Nome de Usuário:</label>
                        <input type="text"
                               class="form-control"
                               readonly
                               ng-model="profileCtrl.profile.UserName" />
                    </div>
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Email:</label>
                        <input type="text"
                               class="form-control"
                               readonly
                               ng-model="profileCtrl.profile.Email" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label class="control-label">Grupo:</label>
                        <input type="text"
                               class="form-control"
                               readonly
                               ng-model="mainCtrl.authentication.UserRole" />
                    </div>

                    <div class="col-sm-3 form-group">
                        <label class="control-label">Status:</label>
                        <br />
                        <div class="btn-group">
                            <label class="btn btn-default"
                                   ng-disabled="true"
                                   ng-model="profileCtrl.profile.IsActive"
                                   uib-btn-radio="true">
                                Ativo
                            </label>

                            <label class="btn btn-default"
                                   ng-disabled="true"
                                   ng-model="profileCtrl.profile.IsActive"
                                   uib-btn-radio="false">
                                Inativo
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="control-label">Recebe Notificações:</label>
                        <br />
                        <div class="btn-group">
                            <label class="btn btn-default"
                                   ng-model="profileCtrl.profile.ReceiveNotification"
                                   ng-change="profileCtrl.changeNotification()"
                                   uib-btn-radio="true">
                                Sim
                            </label>

                            <label class="btn btn-default"
                                   ng-model="profileCtrl.profile.ReceiveNotification"
                                   ng-change="profileCtrl.changeNotification()"
                                   uib-btn-radio="false">
                                Não
                            </label>
                        </div>
                    </div>
                    <!--<div class="col-sm-3 form-group">
                        <label class="control-label">Data:</label>
                        <input type="text"
                               class="form-control"
                               ng-model="profileCtrl.profile.Date"
                               valid-date />
                    </div>-->
                </div>

            </div>
        </div>

        <!-- PHOTO -->
        <div class="col-sm-4">

            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive center-block"
                         ng-src="data:image/jpg;base64,{{profileCtrl.profile.ProfilePictureBase64}}" />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="profileCtrl.changeProfilePicture()">
                        <i class="fa fa-upload"></i> Trocar
                    </button>
                </div>
            </div>

        </div>

    </div>

</div>