<div class="animated fadeIn">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-md-12">
                <h1>Settings</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <uib-tabset active="settingsCtrl.tabIndex">
                <uib-tab index="0">
                    <uib-tab-heading>
                        Listagem
                    </uib-tab-heading>

                    <div class="well">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="control-label">Busca:</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="settingsCtrl.value" />
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="control-label">&nbsp;</label>
                                <button class="btn btn-primary form-control"
                                        type="button"
                                        ng-click="settingsCtrl.search()">
                                    <i class="fa fa-search"></i> Buscar
                                </button>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="control-label">&nbsp;</label>
                                <button class="btn btn-success form-control"
                                        type="button"
                                        ng-click="settingsCtrl.showDetailsToCreate()">
                                    <i class="fa fa-plus-circle"></i> Novo
                                </button>
                            </div>
                        </div>
                    </div>

                    <table datatable=""
                           class="table table-hover table-striped"
                           dt-options="settingsCtrl.dtOptions"
                           dt-columns="settingsCtrl.dtColumns"
                           dt-instance="settingsCtrl.dataTable"></table>

                </uib-tab>

                <!-- DETAILS -->
                <uib-tab index="1" ng-show="settingsCtrl.showDetails">
                    <uib-tab-heading>
                        Detalhes
                    </uib-tab-heading>

                    <form novalidate angular-validator angular-validator-submit='settingsCtrl.submitForm()' name='settingsForm'>
                        <div class="row">
                            <div class="col-sm-12 form-group text-left">
                                <button class="btn btn-default"
                                        ng-click="settingsCtrl.cancel()"
                                        type="button">
                                    <i class="fa fa-backward"></i> Cancelar
                                </button>
                                <button class="btn btn-danger"
                                        ng-click="settingsCtrl.confirmDelete()"
                                        ng-disabled="settingsCtrl.settings.Id === undefined"
                                        type="button">
                                    <i class="fa fa-trash-o"></i> Deletar
                                </button>
                                <button class="btn btn-success"
                                        type="submit">
                                    <i class="fa fa-save"></i> Salvar
                                </button>
                            </div>
                        </div>

                        <div class="well">

                            <div class="row">
                                <div class="col-sm-2 form-group">
                                    <label class="control-label">Id:</label>
                                    <input type="text"
                                           readonly
                                           ng-required="false"
                                           ng-model="settingsCtrl.settings.Id"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    <label class="control-label">Módulo:</label>
                                    <input type="text"
                                           name="Module"
                                           ng-required="true"
                                           ng-readonly="settingsCtrl.settings.Id !== undefined"
                                           ng-model="settingsCtrl.settings.Module"
                                           class="form-control" />
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label class="control-label">Chave:</label>
                                    <input type="text"
                                           name="Key"
                                           ng-required="true"
                                           ng-readonly="settingsCtrl.settings.Id !== undefined"
                                           ng-model="settingsCtrl.settings.Key"
                                           class="form-control" />
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label class="control-label">Valor:</label>
                                    <input type="text"
                                           name="Value"
                                           ng-required="true"
                                           ng-model="settingsCtrl.settings.Value"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>

                </uib-tab>

            </uib-tabset>

        </div>
    </div>

</div>