<div class="animated fadeIn">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-md-12">
                <h1>Acompanhamentos</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <uib-tabset active="complementCtrl.tabIndex">

                <uib-tab index="0">
                    <uib-tab-heading>
                        Listagem
                    </uib-tab-heading>

                    <div class="well">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label class="control-label">Descrição:</label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="complementCtrl.value" />
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="control-label">Valor:</label>
                                <input type="text"
                                       class="form-control"
                                       ui-number-mask
                                       ng-model="complementCtrl.valueDecimal" />
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="control-label">&nbsp;</label>
                                <button class="btn btn-primary form-control"
                                        type="button"
                                        ng-click="complementCtrl.search()">
                                    <i class="fa fa-search"></i> Buscar
                                </button>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label class="control-label">&nbsp;</label>
                                <button class="btn btn-success form-control"
                                        type="button"
                                        ng-click="complementCtrl.showDetailsToCreate()">
                                    <i class="fa fa-plus-circle"></i> Novo
                                </button>
                            </div>
                        </div>
                    </div>

                    <table datatable=""
                           class="table table-hover table-striped"
                           dt-options="complementCtrl.dtOptions"
                           dt-columns="complementCtrl.dtColumns"
                           dt-instance="complementCtrl.dataTable"></table>

                </uib-tab>

                <uib-tab index="1" ng-show="complementCtrl.showDetails">
                    <uib-tab-heading>
                        Detalhes
                    </uib-tab-heading>

                    <form novalidate angular-validator angular-validator-submit='complementCtrl.submitForm()' name='complementForm'>
                        <div class="row">
                            <div class="col-sm-12 form-group text-left">
                                <button class="btn btn-default"
                                        ng-click="complementCtrl.cancel()"
                                        type="button">
                                    <i class="fa fa-backward"></i> Cancelar
                                </button>
                                <button class="btn btn-danger"
                                        ng-click="complementCtrl.confirmDelete()"
                                        ng-disabled="complementCtrl.complement.Id === undefined"
                                        type="button">
                                    <i class="fa fa-trash-o"></i> Deletar
                                </button>
                                <button class="btn btn-success"
                                        type="submit">
                                    <i class="fa fa-save"></i> Salvar
                                </button>
                            </div>
                        </div>

                        <div class="well">

                            <div class="row">
                                <div class="col-sm-2 form-group">
                                    <label class="control-label">Id:</label>
                                    <input type="text"
                                           readonly
                                           ng-required="false"
                                           ng-model="complementCtrl.complement.Id"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label class="control-label">Descrição:</label>
                                    <input type="text"
                                           name="Id"
                                           ng-required="true"
                                           ng-model="complementCtrl.complement.Description"
                                           class="form-control" />
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="control-label">Preço:</label>
                                    <input type="text"
                                           ui-number-mask="2"
                                           name="Price"
                                           ng-required="true"
                                           ng-model="complementCtrl.complement.Price"
                                           class="form-control" />
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label class="control-label">Status:</label>
                                    <br />
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="complementCtrl.complement.IsActive" uib-btn-radio="true">Ativo</label>
                                        <label class="btn btn-default" ng-model="complementCtrl.complement.IsActive" uib-btn-radio="false">Inativo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </uib-tab>

            </uib-tabset>

        </div>
    </div>

</div>